
.app-layout{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-header{
  height: 20vh;
  background-color: palevioletred;
}

.app-main{
  height:70vh;
  background-color: fuchsia;
}

.app-footer{
  height:10vh;
  background-color: blueviolet;
}
